*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:gray;
	color:red;
}
div.done{
	background-color:lightblue;
	max-width:800px;
	margin:0 auto;
}
div.dtwo{
	float:left;
}
div.dtwo img{
	border-radius:200px;
	padding:10px;
}
div.dthree{
	border:1px solid black;
	max-width:230px;
}
div.dfour{
	height:700px;
}
