::selection{
	background-color:#ff0000ff;
	color:#000000ff;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color:#000000ff;
	color:#ff0000ff;
}
div div.dt p.pr{
	color:#ff0000ff;
}
